* {
    text-align: center;
    background: linear-gradient(to right, rgb(239, 204, 106), rgb(102, 11, 148));;
}
img {
    border: 2px solid black;
    background: white;
}

input{
    background: white;
}

button{
    background: white;
}
.component {
    margin-top: 5%;
    font-weight: 700;
}

.label {
    font-weight: 800;
}
