* {
    text-align: center;
    background: linear-gradient(to right, rgb(255, 247, 0), rgb(0, 98, 255));
    font-family: Arial, Helvetica, sans-serif;
}
.pokemon-img {
    background: none;
    border: none;
    outline: none;
}

input{
    background: none;
    font-size: 1rem;

}

button{
    background: none;
    font-size: 1rem;
}
.component {
    margin-top: 5%;
    font-weight: 700;
}

.label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}

.title {
    background: none;
}
